.idea
target
build
/orion_root/
# Ignore Gradle project-specific cache directory
.gradle
/orion
.orion-cache/
.DS_Store
.test-durations/
.worktrees/
/net/http-core/account.keypair
/net/http-core/domain.keypair
/net/http-core/domain.crt
